@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container {
  padding: 0;
  height: '100vh';
  width: '100%';
  margin: 0px;
  /* font-family: 'Major Mono Display', monospace; */
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: '25px';
  background-image: url("../styles/waveDocu1.svg");
  /* background-position: fixed; */
  background-size: cover;
 /*  transition-duration: 5s; */
  transition: ease-in 2s;
  /* position: fixed;
  right:0; */
  display: flex;
  flex-direction: column;
}

.container:hover{
  background-image: url("../styles/waveDocu.svg");
  background-size: cover;
}

.container::-webkit-scrollbar {
  width: 40px;
}
 
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.container::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid blue;
}  

.mainDarkClose .tooltip {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.mainDarkClose .hTLE {
  margin: 0%;
  padding:1%;
  line-height: 0.5;
  font-size: 17px;
  cursor:pointer;
  /* position: fixed; */
  top:3%;
  box-shadow:
  4.8px 7.7px 48.9px rgba(250, 130, 200, 0.046),
  7.5px 12.1px 76.3px rgba(250, 130, 200, 0.052),
  12.5px 20px 126.6px rgba(250, 130, 200, 0.061),
  25px 40px 253px rgba(250, 130, 200, 0.08);
  border-radius:15px; /* 49% 49% 46% / 53% 50% 42% 53% */
}

.mainDarkClose .hTLE:hover{
  font-size: 25px;
  background-color: #FA7268;
}

.mainDarkClose .hTLE .nameTLE:hover{
  color:#A0FA7C;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .numberLineTLE:hover{
  color:#F6C965;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .idTLE:hover{
  color:#6497F5;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .classTLE:hover{
  color:red;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .last2digYearTLE:hover{
  color:#F6E101;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .numLaunchTLE:hover{
  color:#D997F5;
  background-color:'black';
  font-size: larger;
}
.mainDarkClose .hTLE .pieceLaunchTLE:hover{
  color:#2375A8;
  background-color:'black';
  font-size: larger;
}





.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  background-color:#EFEDEE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left:250px;
  overflow-y: hidden;
}

.mainDark {
  min-height: 100vh;
  flex: 1;
  display: flex;
  /* background-color: #2D333C; */
  color:#eaeaea;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left:250px;
  padding-right:0px;
  overflow-y: hidden;
}

.mainClose {
  min-height: 100vh;
  flex: 1;
  display: flex;
  background-color:#EFEDEE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left: 100px;
}
.mainDarkClose {
  min-height: 100vh;
  flex: 1;
  display: flex;
  /* background-color: #2D333C; */
  color:#eaeaea;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-left: 100px;
  overflow-y: hidden;
  /* background-image:
  radial-gradient(at 68% 2%, hsla(204,78%,63%,1) 0px, transparent 50%),
  radial-gradient(at 78% 69%, hsla(155,72%,66%,1) 0px, transparent 50%),
  radial-gradient(at 71% 33%, hsla(211,79%,69%,1) 0px, transparent 50%),
  radial-gradient(at 0% 41%, hsla(352,78%,78%,1) 0px, transparent 50%); */
  /* background-image: url("../styles/waveMap.svg"); */
}

/* .mainDarkClose::-webkit-scrollbar {
  width: 1em;
}
 
.mainDarkClose::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.mainDarkClose::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.mainDarkClose .grid .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #333;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, max-width 0.3s ease;
  max-width: 300px;
  box-shadow:
  0.5px 0.8px 5px rgba(250, 114, 104, 0.019),
  1.1px 1.8px 11.5px rgba(250, 114, 104, 0.028),
  2px 3.2px 19.9px rgba(250, 114, 104, 0.034),
  3.1px 5px 31.7px rgba(250, 114, 104, 0.04),
  4.8px 7.7px 48.9px rgba(250, 114, 104, 0.046),
  7.5px 12.1px 76.3px rgba(250, 114, 104, 0.052),
  12.5px 20px 126.6px rgba(250, 114, 104, 0.061),
  25px 40px 253px rgba(250, 114, 104, 0.08)
;


backdrop-filter: blur(2px) saturate(180%);
-webkit-backdrop-filter: blur(2px) saturate(180%);
background-color: rgba(17, 25, 40, 0.25);
/* border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.125); */

}
.mainDark .grid .card:hover,
.mainDark .grid .card:focus,
.mainDark .grid .card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
  background-color:  rgba(0, 0, 0, 0);
  max-width: 400px;
  backdrop-filter: blur(12px) saturate(180%);
-webkit-backdrop-filter: blur(12px) saturate(180%);
background-color: rgba(53, 60, 75 0.25);
}

.mainDarkClose .grid .card:hover,
.mainDarkClose .grid .card:focus,
.mainDarkClose .grid .card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
  background-color:  rgba(0, 0, 0, 0);
  max-width: 400px;
  backdrop-filter: blur(12px) saturate(180%);
-webkit-backdrop-filter: blur(12px) saturate(180%);
background-color: rgba(53, 60, 75 0.25);
}

.mainDark .grid .card .imageGif {
  position: relative;
  top : -100%;
  right: 0%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.mainDark .grid .card .imageGif img {
  max-width: 1%;
  max-height: 1%;
  border-radius : 15px;
  transition: max-width 0.3s;
}

.mainDark .grid .card:hover .imageGif img {
  max-width: 100%;
  height:auto;
}

.mainDarkClose .grid .card .imageGif {
  position: relative;
  top : -100%;
  right: 0%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.mainDarkClose .grid .card .imageGif img {
  max-width: 1%;
  max-height: 1%;
  border-radius : 15px;
  transition: max-width 0.3s;
}

.mainDarkClose .grid .card:hover .imageGif img {
  max-width: 100%;
  height:auto;
}

/* .mainDarkClose :hover{
  background-image: url("../styles/waveMap2.svg");
} */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title .logo {
  color: white;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  /* box-shadow:
  0.5px 0.8px 5px rgba(250, 114, 104, 0.019),
  1.1px 1.8px 11.5px rgba(250, 114, 104, 0.028),
  2px 3.2px 19.9px rgba(250, 114, 104, 0.034),
  3.1px 5px 31.7px rgba(250, 114, 104, 0.04),
  4.8px 7.7px 48.9px rgba(250, 114, 104, 0.046),
  7.5px 12.1px 76.3px rgba(250, 114, 104, 0.052),
  12.5px 20px 126.6px rgba(250, 114, 104, 0.061),
  25px 40px 253px rgba(250, 114, 104, 0.08); */
  transition: font-size 2s ease-out;
}

/* .title .logo:hover,
.title .logo:focus,
.title .logo:active {
  font-size:larger;
} */

.title {
  margin:0;
  line-height: 1.15;
  font-size: 2rem;
  /* position: fixed; */
  top:3%;
  padding-top: 0%;
  margin-top: 0;
  /* box-shadow:
  .8px 7.7px 48.9px rgba(250, 130, 200, 0.046),
  7.5px 12.1px 76.3px rgba(250, 130, 200, 0.052),
  12.5px 20px 126.6px rgba(250, 130, 200, 0.061),
  25px 40px 253px rgba(250, 130, 200, 0.08);
  border-radius:47% 49% 49% 46% / 53% 50% 42% 53% 
  border-radius:25px; */
}

.title .imageGiftitle {
  position: fixed;
  right : '-3000px';
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  /* z-index : 1; */
}

.title .imageGifTitle img {
  max-width: 0%;
  max-height: 0%;
  border-radius : 15px;
  transition: max-width 0.2s;
}

.title:hover .imageGifTitle img {
  max-width: 7%;
  top:'-300px'
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.mainDarkClose h2 {
  margin: 0%;
  padding:1%;
  line-height: 0.5;
  font-size: 17px;
  cursor:pointer;
  /* position: fixed; */
  top:3%;
  box-shadow:
  4.8px 7.7px 48.9px rgba(250, 130, 200, 0.046),
  7.5px 12.1px 76.3px rgba(250, 130, 200, 0.052),
  12.5px 20px 126.6px rgba(250, 130, 200, 0.061),
  25px 40px 253px rgba(250, 130, 200, 0.08);
  border-radius:15px; /* 49% 49% 46% / 53% 50% 42% 53% */
}

.mainDarkClose h2:hover{
  font-size: 25px;
  background-color: #FA7268;
}
.mainDark h2 {
  margin: 0%;
  padding:1%;
  line-height: 0.5;
  font-size: 17px;
  cursor:pointer;
  /* position: fixed; */
  top:3%;
  box-shadow:
  4.8px 7.7px 48.9px rgba(250, 130, 200, 0.046),
  7.5px 12.1px 76.3px rgba(250, 130, 200, 0.052),
  12.5px 20px 126.6px rgba(250, 130, 200, 0.061),
  25px 40px 253px rgba(250, 130, 200, 0.08);
  border-radius:15px; /* 49% 49% 46% / 53% 50% 42% 53% */
}

.mainDark h2:hover{
  font-size: 25px;
  background-color: #FA7268;
}

.mainDark h3 {
  margin: 0%;
  padding:1%;
  line-height: 1.15;
  font-size: 2rem;
}

.mainDark p {
  margin: 0%;
  padding:1%;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: justify;
}

.mainDarkClose p {
  margin: 0%;
  padding:1%;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: justify;
}

.mainDarkClose h3 {
  margin: 0%;
  padding:1%;
  line-height: 1.15;
  font-size: 2rem;
}



.code {
  background: #fafafa;
  color: #2D333C;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.mainDark .grid .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #333;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, max-width 0.3s ease;
  max-width: 300px;
  box-shadow:
  0.5px 0.8px 5px rgba(250, 114, 104, 0.019),
  1.1px 1.8px 11.5px rgba(250, 114, 104, 0.028),
  2px 3.2px 19.9px rgba(250, 114, 104, 0.034),
  3.1px 5px 31.7px rgba(250, 114, 104, 0.04),
  4.8px 7.7px 48.9px rgba(250, 114, 104, 0.046),
  7.5px 12.1px 76.3px rgba(250, 114, 104, 0.052),
  12.5px 20px 126.6px rgba(250, 114, 104, 0.061),
  25px 40px 253px rgba(250, 114, 104, 0.08)
;


  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);

}




.main .grid .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #FBEBE2;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  box-shadow:
  1.6px 1.6px 1.2px rgba(0, 0, 0, 0.015),
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
  5.8px 5.8px 4.6px rgba(0, 0, 0, 0.027),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
  25.1px 25.1px 20.1px rgba(0, 0, 0, 0.043),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
  56.3px 56.3px 45px rgba(0, 0, 0, 0.055),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;


}

.mainClose .grid .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #FBEBE2;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  box-shadow:
  1.6px 1.6px 1.2px rgba(0, 0, 0, 0.015),
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
  5.8px 5.8px 4.6px rgba(0, 0, 0, 0.027),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
  25.1px 25.1px 20.1px rgba(0, 0, 0, 0.043),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
  56.3px 56.3px 45px rgba(0, 0, 0, 0.055),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;


}

.hserver{
  color:green;

}

.marker{
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    } */
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    content: url('./Satellite-png-hd.png'); /* url(https://www.lifepng.com/wp-content/uploads/2020/11/Satellite-png-hd.png); */ /* url("https://cdn-icons-png.flaticon.com/512/1042/1042820.png"); *//* https://www.pngall.com/wp-content/uploads/2/Rocket-Transparent.png */
    width: 70px;
    height: 70px;
    align-content: center;
    position: relative;
    right: 35px;
    bottom:35px;
    border: "0";
    padding: '0';
}

.markerTracePast{
  font-size: 40px;
  width: '5px';
  height: '5px';
  color:  #C62368 ;
  cursor: help;
  align-content: center;
  position: relative;
  bottom:60px;
}
.markerTraceFuture{
  font-size: 20px;
  width: '5px';
  height: '5px';
  color: #FA7268;
  cursor: help;
  align-content: center;
  position: relative;
  bottom:30px;
}
.markerTraceMark{
  font-size: 160px;
  width: '15px';
  height: '15px';
  color: #A0FA7C;
  cursor: help;
  position: relative;
  bottom:300px;
  right:16px;
}


.main .grid .card:hover,
.main .grid .card:focus,
.main .grid .card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
  background-color: #aeaeae;
  max-width: 400px;
}

.mainClose .grid .card:hover,
.mainClose .grid .card:focus,
.mainClose .grid .card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
  background-color: #aeaeae;
  max-width: 400px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cardinfo {
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.68);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    /* flex-direction: column; */
  }
}



